In [1]:
#import Dependecies
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [2]:
# load in data set
df = pd.read_csv('./Data/teamdata_sql.csv')

# print df head
df.head()

,teamsbyyear,games_played,win_percentage,homeruns,rbi,iso,babip,avg,obp,slg,woba,wrc,war
0,2022LAD,162,0.69,212,812,0.185,0.302,0.257,0.333,0.442,0.337,119,38.9
1,2022NYY,162,0.61,254,764,0.185,0.276,0.241,0.325,0.426,0.327,115,35.1
2,2022STL,162,0.57,197,739,0.168,0.289,0.252,0.325,0.420,0.326,114,32.8
3,2022NYM,162,0.62,171,735,0.153,0.302,0.259,0.332,0.412,0.326,116,31.3
4,2022TOR,162,0.57,200,756,0.168,0.305,0.264,0.329,0.431,0.331,117,31.1

In [5]:
df.dtypes

teamsbyyear        object
games_played        int64
win_percentage    float64
homeruns            int64
rbi                 int64
iso               float64
babip             float64
avg               float64
obp               float64
slg               float64
woba              float64
wrc                 int64
war               float64
dtype: object

In [4]:
X = df.drop(['teamsbyyear', 'games_played', 'win_percentage'], axis=1)
y = df['win_percentage']
X.head()

   homeruns  rbi    iso  babip    avg    obp    slg   woba  wrc   war
0       212  812  0.185  0.302  0.257  0.333  0.442  0.337  119  38.9
1       254  764  0.185  0.276  0.241  0.325  0.426  0.327  115  35.1
2       197  739  0.168  0.289  0.252  0.325  0.420  0.326  114  32.8
3       171  735  0.153  0.302  0.259  0.332  0.412  0.326  116  31.3
4       200  756  0.168  0.305  0.264  0.329  0.431  0.331  117  31.1

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state = 42)

In [6]:
model = LinearRegression()

In [7]:
model.fit(X_train, y_train)

LinearRegression()

In [8]:
pred = model.predict(X_test)

In [9]:
import pickle

In [10]:
pickle.dump(model,open('model2.pkl', 'wb'))